<!DOCTYPE html>
<html>
<head>
    <title>Query Runner</title>
</head>
<body>
    <h1>Enter your SQL Query:</h1>
    <form method="post">
        <textarea name="query" rows="5" cols="80"></textarea><br><br>
        <input type="submit" value="Run Query">
    </form>

    {% if output %}
        <h2>Output:</h2>
        {% if output.__class__.__name__ == 'DataFrame' %}
            {{ output.to_html()|safe }}
        {% else %}
            <p>{{ output }}</p>
        {% endif %}
    {% endif %}
</body>
</html>
